<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">


<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <!-- ================================= -->
   <!-- Preserve messages in a local file -->
   <!-- ================================= -->

   <!-- A time/date based rolling appender -->
 <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
       <param name="File" value="${catalina.base}/logs/csr-console.log"/>
       <param name="Append" value="true"/>
       <param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
       <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p [%c] %m%n"/>
     </layout>
     </appender>


   <!-- ============================== -->
   <!-- Append messages to the console -->
   <!-- ============================== -->

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%t %d{ISO8601} %-5p [%c{1}:%M] %m%n"/>
      </layout>
   </appender>
   
   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->

   <category name="log4j.logger.org.springframework">
     <priority value="DEBUG"/>
   </category>
   
    <category name="com.clairmail">
        <priority value="DEBUG"/>
    </category>

   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>
      <priority value="ERROR"/>
      <appender-ref ref="FILE" />
      <appender-ref ref="CONSOLE"/>
   </root>


</log4j:configuration>
