#Connector error code mapping
connector.error.key.1001=Unknown Error
connector.error.key.1002=General Error
connector.error.key.1003=Platform Error
connector.error.key.1004=Missing Argument Error
connector.error.key.1051=General Warning
connector.error.key.1052=Multiple Warnings

connector.error.key.1101=Configuration Error
connector.error.key.1151=Configuration Warning

connector.error.key.1201=Session Error
connector.error.key.1202=The session being requested/handled is invalid
connector.error.key.1203=Unable to complete request due to processing error
connector.error.key.1251=Session Warnings
connector.error.key.1252=Multiple locales are detected in a single session

connector.error.key.1301=Generic Transaction Error.
connector.error.key.1302=The transaction being requested/handled is invalid.
connector.error.key.1303=The transaction id input to Adaptive Authentication is invalid.
connector.error.key.1351=Transaction Warning

connector.error.key.1401=Authentication Plug-In or Payload Error
connector.error.key.1402=Errors thrown by User Credential Manager
connector.error.key.1403=Errors thrown by System Credential Manager
connector.error.key.1451=MCF Warning
connector.error.key.1452=User does not have any of the required credentials.
connector.error.key.1453=Authentication Plug-In or Payload Warnings
connector.error.key.1454=An error occurred during device management handling

connector.error.key.1502=The user is not enrolled in the RSA Adaptive Authentication System.
connector.error.key.1552=The user has exceeded the limit in the image favorites list.

connector.error.key.1601=Required data elements are missing in the request.
connector.error.key.1602=The data element in the request results in processing error.
connector.error.key.1603=The ActionType element in the WS request is not legal.
connector.error.key.1604=The data failed basic authentication
connector.error.key.1605=Data fields that failed Adaptive Authentication's data validation
connector.error.key.1606=The mandatory field sessionId is missing from the AUTHENTICATE request
connector.error.key.1651=Input Data Warning
connector.error.key.1652=The RSA Adaptive Authentication system replaced some data in the request message with other data.
connector.error.key.1653=The RSA Adaptive Authentication system omitted some data from the request message.


#System error message
connector.error.key.9999=connector.error.key.default

#Validation Messages
connector.error.key.8888=Invalid data received in request
connector.error.key.8001=User id exceeded 50 characters or it is not alphanumeric.
connector.error.key.8002=Site phrase exceeded 100 characters or it is not alphanumeric.
connector.error.key.8003=User answer exceeded 50 characters or is not provided or is not alphanumeric.

#connector.system.error.key.default=connector.system.error.key.default
rsa.onsite.admin.endpoint.url={{ rsa_onsite_admin_endpoint_url }}
rsa.onsite.endpoint.url={{ rsa_onsite_endpoint_url }}
rsa.ws.callerId={{ rsa_ws_callerId }}
rsa.ws.caller.org.name={{ rsa_ws_caller_org_name }}
rsa.ws.credential={{ rsa_ws_credential }}
