email.connection.names={{ email_connection_names }}
email.smtp.hostname.ConA={{ email_smtp_hostname_ConA }}
email.smtp.port.ConA=25
email.smtp.auth.ConA=false
email.smtp.user.ConA=
email.smtp.password.ConA=
email.smtp.debug.ConA=false
email.smtp.transport.poolsize.ConA=4
email.domains.serviced.ConA={{ email_domains_serviced_ConA }}
