# SMPP Connection Names, null for no simulator, conA is for QA logica simulator
smpp.names=ConSim
smpp.service.ConSim=110
smpp.type.ConSim=0
smpp.hostname.ConSim={{ smpp_hostname_ConSim }}
smpp.port.ConSim=20109
smpp.usessl.ConSim=false
smpp.systemid.ConSim=automated
smpp.systemtype.ConSim=
smpp.password.ConSim=user
smpp.sourceton.ConSim=3
smpp.sourcenpi.ConSim=1
smpp.address.range.ConSim=12345
smpp.shortcodes.serviced.ConSim=12345
smpp.servicetype.ConSim=
smpp.tarrifcode.ConSim=0
smpp.usesroutingword.ConSim=false
smpp.enquirelink.ConSim=30000
smpp.notifierpool.ConSim=8
smpp.defaultcountry.ConSim=1
smpp.maxlen.ConSim=160
smpp.maxstartup.attempts.ConSim=25
smpp.maxsubmitresp.wait.ConSim=30000
smpp.pendingcleanup.interval.ConSim=10000
smpp.encodingprofile.ConSim=SMPPSIM
#
