# Host configuration information for connection to ClairMail Server.

# Valid options: "http" or "https"
connection.protocol={{ connection_protocol }}
connection.host={{ server_http_address }}
connection.port={{ server_http_port }}
